<nav>
    <ul>
        {% if "users:menu" in permisos %}
        <li><a href="/usuarios">{{ texts.usuarios }}</a></li>
        {% endif %}

        {% if "security:menu" in permisos %}
        <li><a href="/roles">{{ texts.roles }}</a></li>
        {% endif %}

        {% if "configurations:menu" in permisos %}
        <li><a href="/permisos">{{ texts.permisos }}</a></li>
        {% endif %}

        {% if "systems:menu" in permisos %}
        <li><a href="/sistemas">{{ texts.sistemas }}</a></li>
        {% endif %}

     
   
   
        

        <li><a href="/notifications">{{ texts.perfil }}</a></li>


     
        <li><a href="/profile">{{ texts.perfil }}</a></li>
     
        <li><a href="/logout">{{ texts.logout }}</a></li>
    </ul>


</nav>
