<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ texts.title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="{{ theme }}-theme">
    <h1>{{ texts.title }}</h1>

    <div class="button-container">
    
        <!-- Botón para cambiar tema, recarga con nuevo tema -->
        <form method="get" action="/">
            <input type="hidden" name="theme" value="{{ next_theme }}">
            <input type="hidden" name="lang" value="{{ lang }}">
            <button type="submit">{{ texts.change_theme }}</button>
        </form>

        <!-- Botón para cambiar idioma, recarga con nuevo idioma -->
        <form method="get" action="/">
            <input type="hidden" name="lang" value="{{ next_lang }}">
            <input type="hidden" name="theme" value="{{ theme }}">
            <button type="submit">{{ texts.change_lang }}</button>
        </form>

            <!-- Botón para iniciar sesión (redirige a /login) -->
        <form action="/login">
            <button type="submit">{{ texts.login }}</button>
        </form>


        <!-- Botón para recuperar contraseña (redirige a /recover-password) -->
        <form action="/recover-password">
            <button type="submit">{{ texts.forgot }}</button>
        </form>
    </div>
</body>
</html>
